<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
    <link rel="stylesheet" href="/assets/css/jass.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Tech Blog</title>
</head>
<body>
    <header>
        <section>
            <figure onclick="">
                <a href="/">
                    <img id="logo" src="https://i.giphy.com/media/U4FkC2VqpeNRHjTDQ5/giphy.webp" />
                </a>    
                    <h1>Tech Blog</h1>
            </figure>
                
            <nav>
                 <!-- Conditionally render login or logout links -->
                {{#if logged_in}}
                <a href="/profile">profile</a> |
                <button class="no-button" id="logout">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </section>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>

    </footer>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
        <script src="/assets/js/logout.js"></script>
    {{/if}}
</body>
</html>